body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Nav Bar Styles*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.logo > img {
  width: 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

/*Call to action section */
.call-to-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  background-color: #000;
  color: #fff;
  gap: 15px;
  padding-top: 45px;
}

/*Product info section*/
.product-info {
  height: 50vh;
  margin: 100px;
  color: #000;
}
